NET "A" IOSTANDARD = LVCMOS18 | LOC = T5; //SW1
NET "B" IOSTANDARD = LVCMOS18 | LOC = V8; //SW1
NET "C" IOSTANDARD = LVCMOS18 | LOC = U8; //SW3
NET "D" IOSTANDARD = LVCMOS18 | LOC = N8; //SW4
NET "E" IOSTANDARD = LVCMOS18 | LOC = M8; //SW5
NET "F" IOSTANDARD = LVCMOS18 | LOC = T11; //LED01
NET "A" PULLDOWN;
NET "B" PULLDOWN;
NET "C" PULLDOWN;
NET "D" PULLDOWN;
NET "E" PULLDOWN;
